@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.login-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F9FE; /* fundo claro TekSea */
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

h2 {
  margin-bottom: 20px;
  color: #212322; /* preto TekSea */
  font-size: 24px;
  font-weight: 600;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 14px;
  color: #212322; /* texto mais escuro */
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.input-group input:focus {
  border-color: #385856; /* verde TekSea */
  outline: none;
}

.remember-me {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.remember-me input {
  margin-right: 10px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #385856; /* verde TekSea */
  color: #F3F9FE;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.login-btn:hover {
  background-color: #2e4746; /* hover mais escuro */
}

/* Lado direito: imagem de fundo */
.image-side {
  background-image: url('../img/teksea.jpg');
  background-size: cover;
  background-position: center;
  flex: 1;
}

/* Estilo da mensagem de erro */
.mensagem-erro {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}
